<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
    </div>
    <strong>Centxam and User Management &copy; 2020 <a href="https://centexam.com"> Centexam</a>.</strong>
</footer>