@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Way with Salah Eddine BENALI<br />
    Tanger, Morocco<br />
    <abbr title="Phone">P:</abbr>
   +212642855358
</address>

<address>
    <strong>Support:</strong> <a href="mailto:salaheddinebenali@student.emi.ac.ma">salaheddinebenali@student.emi.ac.ma</a><br />
    <strong>Marketing:</strong> <a href="https://www.centexam.com">Marketing@example.com</a>
</address>
